
div {
    background-color:rgb(3, 254, 204);
    width: 300px;
    border: 15px solid rgb(2, 2, 2);
    padding: 50px;
    margin: 20px;
  }

  #txt{
    text-align: center;
   text-transform: uppercase;
   font-family: serif;
  }

  #textal{
    text-align: justify;
    color: brown;
    font-family: fantasy;
  }